<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link th:href="@{/styles/add-customer.css}" rel="stylesheet" />
  </head>
  <body>
    <form
      th:action="@{/product/addedProduct}"
      th:object="${product}"
      method="post"
    >
      <label for="name"> NAME: </label>
      <input type="text" th:field="*{name}" placeholder="name" id="name" />
      <br />
      <label for="description"> DESCRIPTION: </label>
      <input
        type="text"
        th:field="*{description}"
        placeholder="description"
        id="description"
      />
      <br />
      <label for="stock"> STOCK: </label>
      <input
        type="number"
        th:field="*{stock}"
        placeholder="stock"
        id="stock"
        min="0"
      />
      <br />
      <label for="price"> PRICE: </label>
      <input
        type="number"
        th:field="*{price}"
        placeholder="price"
        id="phone"
        min="0"
        step="0.1"
      />
      <br />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
