<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Product with orders</title>
    <link th:href="@{/styles/customers-list.css}" rel="stylesheet" />
  </head>
  <body>
    <ul th:each="product: ${products}">
      <p>PRODUCT</p>
      <li th:text= "${product.code} + ' ' + ${product.name} + ' ' + ${product.description} + ' ' + ${product.stock} + ' ' + ${product.price}"
      ></li>
      <p>ORDER DETAILS</p>
      <li th:text="${product.id} + ' ' + ${product.productCode} + ' ' + ${product.quantity} + ' ' + ${product.priceEach}"
      ></li>
    </ul>
  </body>
</html>
